
.debug {
    font-weight: bold;
    color:darkgreen;
}
/* floating settings display */
.debugContainer {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 49%;
    margin-right: 1%;
    background-color: rgb(219, 192, 36); /* semi-transparent background for debug/aesthetics */
    padding: 5pm;
    border: 1px solid black;
}
/* Help Icon sits in the upper right corner of anchor container */
.helpIcon {
position: absolute;
top: 10px;
right: 10px;
}
.helpIconClosed::before {
    content: "\1F4D5"; /* Unicode Closed Book  - default for help icons */
    font-size: 24 px;
}
.helpIconOpen::before {
    content: "\1F4D6"; /* Unicode Open Book  - toggled state for help icons */
    font-size: 24 px;
}
/* Help infobox is hidden by default */
.hiddenHelp {
    display: none;
}
.configBlock {
    border: 3px solid gold;
}
.settingContainer { /* boxes the setting (anchors the floating help text) */
    position: relative;
    width: 44%;
    border: 1px solid #000;
}
.helpFloat {
    position: absolute;
    top: 20px;
    left: 50px;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 1); /* semi-transparent background for debug/aesthetics */
    padding: 5pm;
    border: 1px solid black;
}