body {
    /* Old Style font stack gleaned from https://modernfontstacks.com/ */
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: normal;
}

.pageTitle {
    margin-top: 20px;
    text-align: center;
}

.contentLayout {
    display: flex;
    justify-content: space-evenly;
}

#gameSettingsButton {
    border-color: gold;
    border-radius: 5px;
}

.workspace {
    width: 45%;
}

.debugSection {
    font-weight: bold;
    color:darkgreen;
    padding-top: 10px;
}

.debug {
    font-weight: bold;
    color:darkgreen;
}
/* floating settings display */
.debugContainer {
    width: 45%;
    height: fit-content;
    background-color: rgba(219, 192, 36, .5); /* semi-transparent background for debug/aesthetics */
    padding: 5px;
    border: 1px solid black;
}

.helpIconClosed::before {
    content: "\1F4D5"; /* Unicode Closed Book  - default for help icons */
}
.helpIconOpen::before {
    content: "\1F4D6"; /* Unicode Open Book  - toggled state for help icons */
}
/* Help infobox is hidden by default */
.hiddenHelp {
    display: none;
}

.configBlock {
    padding: 10px;
}
.visibleBorder {
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid gold;
}
.settingContainer { /* boxes the setting (anchors the floating help text) */
    border: 1px solid #d4af37;
    display: flex;
    flex-wrap: wrap;
    margin-top: -1px; /* Prevent double borders. */
    padding: 10px;
}
.settingLabel {
    width: 40%;
}
.settingInput {
    width: 57%;
}
.settingExplanation {
    width: 3%;
}
.helpFloat {
    position: absolute;
    width: 200px;
    left: 450px;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 1); /* semi-transparent background for debug/aesthetics */
    padding: 5px;
    border: 1px solid black;
    z-index: 1;
}

/* Making a toggle */

.toggleBox { /* Applied to div after label, boxed around input and span */
    position: relative;
    display: inline-block;
    width: 4rem; /* I'm going to try relative sizing with rems, might need weird transform math */
    height: 2rem;
}
.toggleBox input { /* hide default checkbox */
    opacity: 0;
    width: 0;
    height: 0;
}
.slide { /* Applied to span, makes the slide-y bit */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
}
/* all this is yoinked from w3schools, cleanup later */
.slide:before { 
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: .5rem;
  bottom: .25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25%;
}
input:checked + .slide {
  background-color: #2196F3;
}
input:focus + .slide {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slide:before {
  transform: translateX(1.5rem);
}

.selectList {
    overflow: hidden;
}

#minigameDelaySetting {
    display: none;
}

#delayNum {
    display: none;
}

/* Component Styling */

/* HelpBubble */
z-tip.helpIconComp {
    cursor: pointer;
}
z-tip.helpClosedComp::before {
    content: "\1F4D5"; /* Unicode Closed Book  - default for help icons */
    font-size: 24px;
}
z-tip.helpOpenComp::before {
    content: "\1F4D6"; /* Unicode Open Book  - toggled state for help icons */
    font-size: 24px;
}
z-tip.helpContentComp {
    position: relative;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
z-tip.hiddenHelpComp {
    display: none;
}