
.debug {
    font-weight: bold;
    color:darkgreen;
}
/* floating settings display */
.debugContainer {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 49%;
    margin-right: 1%;
    background-color: rgb(219, 192, 36); /* semi-transparent background for debug/aesthetics */
    padding: 5px;
    border: 1px solid black;
}
/* Help Icon sits in the upper right corner of anchor container */
.helpIcon {
position: absolute;
top: 10px;
right: 10px;
}
.helpIconClosed::before {
    content: "\1F4D5"; /* Unicode Closed Book  - default for help icons */
    font-size: 24px;
}
.helpIconOpen::before {
    content: "\1F4D6"; /* Unicode Open Book  - toggled state for help icons */
    font-size: 24px;
}
/* Help infobox is hidden by default */
.hiddenHelp {
    display: none;
}
.configBlock {
    border: 3px solid gold;
}
.settingContainer { /* boxes the setting (anchors the floating help text) */
    position: relative;
    width: 44%;
    border: 1px solid #000;
}
.helpFloat {
    position: absolute;
    top: 20px;
    left: 50px;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 1); /* semi-transparent background for debug/aesthetics */
    padding: 5px;
    border: 1px solid black;
}

/* Making a toggle */

.toggleBox { /* Applied to div after label, boxed around input and span */
    font-size: 24px;
    position: relative;
    display: inline-block;
    width: 4rem; /* I'm going to try relative sizing with rems, might need weird transform math */
    height: 2rem;
}
.toggleBox input { /* hide default checkbox */
    opacity: 0;
    width: 0;
    height: 0;
}
.slide { /* Applied to span, makes the slide-y bit */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 10px;
}
/* all this is yoinked from w3schools, cleanup later */
.slide:before { 
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  left: .5rem;
  bottom: .25rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 25%;
}
input:checked + .slide {
  background-color: #2196F3;
}
input:focus + .slide {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slide:before {
  transform: translateX(1.5rem);
}

.selectList {
    overflow: hidden;
}

#minigameDelaySetting {
    display: none;
}

#delayNum {
    display: none;
}

/* Component Styling */

/* HelpBubble */
z-tip.helpIconComp {
position: fixed;
top: 10px;
right: 10px;
cursor: pointer;
}
z-tip.helpClosedComp::before {
    content: "\1F4D5"; /* Unicode Closed Book  - default for help icons */
    font-size: 24px;
}
z-tip.helpOpenComp::before {
    content: "\1F4D6"; /* Unicode Open Book  - toggled state for help icons */
    font-size: 24px;
}
z-tip.helpContentComp {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
z-tip.hiddenHelpComp {
    display: none;
}