/*
. means class
# means id
A B means B within A (any generation)
A>B means B as direct child of A
*/

/*
z-index reference
601/600 - Settings
500 - Vengeance/Minigame modals
401/400 - History
*/

 /* controls the button text for the descSwitch button */

z-eff .descButtonClosed::before {
    content: "⮟ ⮟";
    font-size: 24px;
}

z-eff .descButtonOpen::before {
    content: "⮝ ⮝";
    font-size: 24px;
}

z-eff .hiddenPart {
    display: none;
}
