/*
. means class
# means id
A B means B within A (any generation)
A>B means B as direct child of A
*/

/*
z-index reference
601/600 - Settings
500 - Vengeance/Minigame modals
401/400 - History
*/

/* basic "hide it" class */
z-game .hiddenPart {
    display: none;
}

/* need to make the game field fill the viewport */
z-game .gameField {
    position: relative;
    height: 100vh;
}




/* styles for the drawer effect */

z-game .drawerContainer {
    position: relative;
}

z-game .drawerToggle {
    position: absolute;
    right: 10px;
    transition: bottom 1s ease-in-out;
    z-index: 401; /* above the drawer */
}

z-game .drawerContents {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -400px; /* off-screen to the bottom, may need to adjust */
    height: 400px; /* drawerHeight (also, how far up it has to move */
    width: 98%;
    background-color: lightgray;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: bottom 1s ease-in-out; /* smooth motion, may need to adjust timing */
    z-index: 400; /* below the button, above other stuff */
    overflow-x: auto;
}

z-game .drawerContents.openDrawer {
    bottom: 0; /* should cause it to slide in */
}

z-game .drawerClosed::before {
    content: "History ⮝"; /* Unicode Closed Book  - default for help icons */
    font-size: 24px;
}

z-game .drawerOpen::before {
    content: "History ⮟"; /* Unicode Open Book  - toggled state for help icons */
    font-size: 24px;
}

z-game .drawerClosed {
        bottom: 10px;
}

z-game .drawerOpen {
        bottom: 410px;
}