/*
. means class
# means id
A B means B within A (any generation)
A>B means B as direct child of A
*/

/*
z-index reference
601/600 - Settings
500 - Vengeance/Minigame modals
401/400 - History
*/

z-game :root {
    --history-button-width: 0px;
    --history-button-height: 0px;
}

/* basic "hide it" class */
z-game .hiddenPart {
    display: none;
}

/* need to make the game field fill the viewport */
z-game .gameField {
    position: relative;
    height: 100vh;
    background-color: lightblue;
}

/* Creating an overlay to mask minigame and vengeance modals */
z-game .interactionOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 700;
    display: none;
}
z-game .interactionOverlay.active {
    display: block;
    pointer-events: auto;
}

/* first-load modal */
z-game .welcomeModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    overflow-y: scroll;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}

z-game .welcomeTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

z-game .welcomeDescription {
    font-size: 16px;
    text-align: center;
}

z-game .welcomeColumns {
    column-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    row-gap: 20px;
}

z-game .welcomeDetail {
    align-items: center;
    border: 1px solid lightblue;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-width: 160px;
    padding: 20px;
    width: 20%;
}

z-game .welcomeButton {
    cursor: pointer;
    display: flex;
    font-size: 16px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}

z-game ul {
    color: #666;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

z-game ul li:not(:last-child) {
    margin-bottom: 10px;
}

/* current container stuff */
z-game .currentContainer {
    position: fixed;
    /*  align-content: center; */
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    background-color: tan;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    /* flex-direction: row; */
    /* justify-content: center; */
}

/* minigame modal */
z-game .minigameModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: lightblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    z-index: 701;
}

z-game .minigameModal::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

z-game .minigameContent {
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
}

z-game .minigameCloseButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* vengeance modal */
z-game .vengeanceModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: lightcoral;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    z-index: 701;
}

z-game .vengeanceContent {
    font-size: 16px;
    text-align: center;
    margin: 20px auto;
}

z-game .vengEffect {
    display: flex;
    width: 96%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: coral;
    border-radius: 8px;
    padding: 10px;
}

z-game .vengRoll {
    font-size: 36px;
    text-align: center;
    margin: 2px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

z-game .vengContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px auto;
    width: 75%;
}

z-game .vengTitle {
    font-size: 24px;
    text-align: center;
    margin: 2px 0;
}

z-game .vengBody {
    font-size: 16px;
    text-align: center;
    margin: 2px 0;
}

z-game .vengeanceCloseButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

z-game .vengeanceModal::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

/* game buttons section */
z-game .controlContainer {
    position: fixed;
    display: flex;
    bottom: calc(10px + var(--history-button-height));
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

z-game .controlContainer.hiddenPart {
    display: none;
}

z-game .buttonWrapper {
    display: flex;
    gap: 20px;
}

z-game .controlButton {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

z-game .rollButton::before {
    content: "🎲 Roll"; /*  */
    font-size: 24px;
}

z-game .minigameButton::before {
    content: "🎮 Minigame"; /* maybe ♟ */
    font-size: 24px;
}

z-game .vengeanceButton::before {
    content: "💀 Vengeance"; /* maybe 🗡 */
    font-size: 24px;
}

/* styles for the drawer effect */

z-game .drawerContainer {
    position: relative;
}

z-game .drawerToggle {
    position: absolute;
    right: 10px;
    transition: bottom 1s ease-in-out;
    z-index: 401; /* above the drawer */
    /* bottom: 10px; /* set it just above the bottom */
}

z-game .drawerContents {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: -62vh; /* off-screen to the bottom, may need to adjust */
    height: 60vh; /* drawerHeight (also, how far up it has to move */
    padding: 0 10px;
    width: 98%;
    background-color: lightgray;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: bottom 1s ease-in-out; /* smooth motion, may need to adjust timing */
    z-index: 400; /* below the button, above other stuff */
    overflow-x: auto;
}

z-game .drawerContents.openDrawer {
    /* bottom: calc(10 + var(--history-button-height)); /* should cause it to slide in to just above the button*/
    bottom: 0;
}

z-game .drawerClosed::before {
    content: "⌛ History ˄"; /*  */
    font-size: 24px;
}

z-game .drawerOpen::before {
    content: "⏳ History ˅"; /*  */
    font-size: 24px;
}

z-game .drawerClosed {
    bottom: 10px;
}

z-game .drawerOpen {
    bottom: 10px;
    /* I think i want the history button to stay at the bottom */
}

/* MOBILE STYLE - an experiment */
@media only screen and (max-width: 800px) {
    z-game .drawerClosed::before {
        content: "˄⌛"; /*  */
        font-size: 24px;
        z-index: 601;
    }

    z-game .drawerOpen::before {
        content: "˅⏳"; /*  */
        font-size: 24px;
        z-index: 602;
    }

    z-game .rollButton::before {
        content: "🎲"; /*  */
        font-size: 24px;
    }

    z-game .minigameButton::before {
        content: "🎮"; /* maybe ♟ */
        font-size: 24px;
    }

    z-game .vengeanceButton::before {
        content: "💀"; /* maybe 🗡 */
        font-size: 24px;
    }

    z-game .drawerContents {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: -92vh; /* off-screen to the bottom, may need to adjust */
        height: 90vh; /* drawerHeight (also, how far up it has to move */
        width: 100vw;
        background-color: lightgray;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: bottom 1s ease-in-out; /* smooth motion, may need to adjust timing */
        z-index: 400; /* below the button, above other stuff */
        overflow-x: auto;
    }

}