.helpParent {
    display: block;
    position: relative;
    width: 70%;
    border: 1px dashed black;
}
z-hb details {
    border: 1px dashed black;
    position: absolute;
    top: 0px;
    left: 50%;
    width: 50%;
    background-color: rgb(226, 193, 144);
    padding-right: 2rem;
}
z-hb summary {
    border: 1px dashed black;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(226, 193, 144);
    border-radius: 50%;
}

z-hb .helpIconComp {
    cursor: pointer;

}
z-hb .helpClosedComp::before {
    content: "\1F4D5"; /* Unicode Closed Book  - default for help icons */
    font-size: 24px;
}
z-hb .helpOpenComp::before {
    content: "\1F4D6"; /* Unicode Open Book  - toggled state for help icons */
    font-size: 24px;
}
z-hb .helpContentComp {
    position: relative;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
z-hb .hiddenHelpComp {
    display: none;
}