/*
. means class
# means id
A B means B within A (any generation)
A>B means B as direct child of A
*/

/*
z-index reference
601/600 - Settings
500 - Vengeance/Minigame modals
401/400 - History
*/

z-settings :root {
    --settings-button-width: 0px;
    --settings-button-height: 0px;
    --update-button-width: 0px;
    --update-button-height: 0px;
}

z-settings .gameSettingsButton {
    border-color: gold;
    border-radius: 5px;
}

z-settings .updateSettingsButton {
    border-color: gold;
    border-radius: 5px;
    font-size: 24px;
}

z-settings .hiddenPart {
    display: none;
}

z-settings .bigControl {
    transform: scale(1.5);
}

z-settings .configTitle {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

z-settings .settingContainer { /* boxes the setting (anchors the floating help text) */
    position: relative; /* anchors the helpBox within the container */
    border: 1px solid #d4af37;
    margin-top: -1px; /* Prevent double borders. */
    padding: 10px;
}

z-settings .settingTitle {
    text-align: left;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

z-settings .settingText {
    height: fit-content;
    text-align: center;
    text-wrap: wrap;
    margin: 0 auto 20px;
}

z-settings .settingContent {
    margin: 0 auto;
    text-align: center;
}

z-settings .selectList {
    overflow: hidden;
}

z-settings select {
    width: 200px;
}

z-settings select option {
    text-align: center;
    font-size: 16pt;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
}

z-settings .allSelect {
    display: block;
    font-size: 16pt;
}

/* save modal */
z-settings .updateModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: lightsalmon;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    z-index: 601;
}
z-settings .updateText {
    font-size: 24px;
    text-align: center;
    margin: 20px auto;
}
z-settings .updateButtons {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
z-settings .saveButton {
    background-color: darkgreen;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

z-settings .cancelButton {
    background-color: darkred;
    color: white;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* styles for the drawer effect */

z-settings .drawerContainer {
    position: relative;
}

z-settings .drawerSettings {
    position: absolute;
    top: 10px;
    transition: left 1s ease-in-out;
    z-index: 601; /* above the drawer */
}
z-settings .drawerUpdate {
    position: fixed;
    bottom: 10px;
    transition: left 1s ease-in-out;
    z-index: 601; /* above the drawer */
}

z-settings .drawerContents {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: -400px; /* off-screen to the left, may need to adjust */
    width: 400px; /* will set the width for the gameSettings div, too */
    height: calc(100vh - (var(--settings-button-height) + var(--update-button-height) + 25px));
    background-color: lightgray;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 1s ease-in-out; /* smooth motion, may need to adjust timing */
    z-index: 600; /* below the button, above other stuff */
    overflow-x: auto;
}

z-settings .drawerContents.openDrawer {
    left: 0; /* should cause it to slide in */
}

z-settings .drawerClosed::before {
    content: "Settings ˃"; /*  */
    font-size: 24px;
}

z-settings .drawerOpen::before {
    content: "Settings ˂"; /*  */
    font-size: 24px;
}

z-settings .drawerClosed {
    left: 10px;
}

z-settings .drawerOpen {
    left: calc(390px - var(--settings-button-width));
}
z-settings .drawerUpdateClosed {
    left: -400px;
   /* left: -10px; */
    /*    left: -var(--update-button-width); */
}
z-settings .drawerUpdateOpen {
    left: calc(400px - var(--update-button-width));
}