/* OH SNAP, this is gonna get weird... */
/* I foresee having style tags related to individual effect handling, */
/* so my naming conventions have gotta be ON IT */

/* making a generic "roll for each player" structure */

.individualRollContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.individualRollBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: min-content;
    max-width: max-content;
    flex: 1 1 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}
.individualRollTitle {
    font-weight: bold;
    margin-bottom: 10px;
}


/* .specRoll {/* rollbutton imitator */
/* } */